<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjc.jwt.mapper.dao.UsersMapper">
    <resultMap id="BaseResultMap" type="com.xjc.jwt.mapper.dataobject.UsersDO">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,pass_word
    </sql>

    <select id="queryAll" resultType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
    </select>

    <select id="queryByUserName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where user_name=#{userName}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="com.xjc.jwt.mapper.dataobject.UsersDO">
        insert into users (user_name, pass_word) value (#{userName}, #{passWord})
    </insert>

</mapper>